

/*--------------- HEADER --------------*/

header { margin-top: -350px;}

.about-hero {
    background-image: url(../images/bg-01.svg);
    background-size: cover;
    background-position: center center;
    height: 450px;
}


/*--------------- LINKS --------------*/

.ixd { color: #5DAF84;
        text-decoration: none;}


/*--------------- PROCESS SECTION --------------*/

#about-text { margin-top: 11em;
              margin-bottom: -1em;}

.about-me { font-size: 1.3em;}

.about{
    text-align: center;
    margin-top: 4em;}

.stages { max-width: 150px;}

.about p { max-width: 650px;}

.what-i-do img { max-width: 850px; 
                    margin-top: 2em;}

hr { margin-bottom: 1.5em;}


.skills-icons{
    margin-top: 1em;
    margin-bottom: 2em;
    max-width: 760px;}

.my-skills {text-align: center; }

.cv-button {text-align: center;
            margin-bottom: 3em;
            margin-top: -1em;}