

/*--------------- HEADER --------------*/

header { margin-top: -330px;}

.about-hero {
    background-image: url(../images/bg-01.svg);
    background-size: cover;
    background-position: center center;
    height: 450px;
}


/*--------------- LINKS --------------*/

.ixd { color: #5DAF84;
        text-decoration: none;}


/*--------------- PROCESS SECTION --------------*/

#about-text { margin-top: 10em;}

.about-me { font-size: 1.3em;}

.about{
    text-align: center;
    margin-top: 4em;}

.stages { max-width: 150px;}

.about p { max-width: 650px;}


.what-i-do img { max-width: 850px; 
                    margin-top: 2em;}





.colmask{
   position: relative;
   overflow: hidden;
   margin: 0px auto;
   width: 90%;
}
.colmid{
    text-align: center;
   position: relative;
   width: 100%;
   right: 35%;
}
.colleft{
   position: relative;
   width: 100%;
   right: 31%;
}
.col1{
   position: relative;
   overflow: hidden;
   float: left;
   width: 28%;
   left: 103%;
}
.col2{
   position: relative;
   overflow: hidden;
   float: left;
   width: 28%;
   left: 41%;
}
.col3{
   position: relative;
   overflow: hidden;
   float: left;
   width: 28%;
   left: 80%;
}
	
.colmask img {
        width: 140px;
        margin-left: 25%;
		margin-right: 25%;
	}

.colmask h3 { text-align: center;}

